<!--    container-->
<div class="about_container">
    <div class="member">
      <div class="member_photo">
        <img src="/images/s3.jpg">
        </div>
       <div class="member_intro">
        <i>SURAJ OJHA</i>
         <b>IOE,PASHCHIMANCHAL CAMPUS</b>
           <b>LAMACHOUR,POKHARA</b><br>
           <a href="https://www.facebook.com/suraj.oberai.5" target="blank"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
    <div class="member">
        <div class="member_photo">
          <img src="/images/amar3.jpg">
        </div>
        <div class="member_intro">
         <i>AMAR SHAH</i><br>
         <b>IOE,PASHCHIMANCHAL CAMPUS</b>
           <b>LAMACHOUR,POKHARA</b><br>
            <a href="https://www.facebook.com/suraj.oberai.5" target="blank"><i class="fa fa-facebook"></i></a>
        </div>
    </div>
</div>
