<div class="pdf_container">
        <div class="pdfs">
            <a href="https://drive.google.com/open?id=166nE5hhsqQq0al_IqilctmBeyaHLtfiG"><img src="/images/pdfss.png">
             <h4>Instrumentation</h4></a>
        </div>
        
        <div class="pdfs">
           <a href="https://drive.google.com/open?id=151Q8AwfXz85Q-gellt3hFcHYNzmrjl2R"><img src="/images/pdfss.png">
             <h4>Electric Circuit Theory<br>Mukesh Gautam</h4></a>
        </div>
    
         <div class="pdfs">
           <a href="https://drive.google.com/open?id=1Dqy8g8s6tDQGwQ0mLInv0SA-hT7PXEPA"><img src="/images/pdfss.png">
             <h4>Microprocessor</h4></a>
        </div>
          <div class="pdfs">
           <a href="https://drive.google.com/open?id=1JpXSxMhDnnjDOktrelvzLTuOctgc1ibs"><img src="/images/pdfss.png">
             <h4>Electric Circuit Theory<br>Deep Shah</h4></a>
        </div>
          <div class="pdfs">
            <a href="https://drive.google.com/open?id=1miAQKIPxiSDf1C7XEP8jNb6sYpkJiI8q"><img src="/images/pdfss.png">
             <h4>Digital Logic</h4></a>
        </div>
        
          <div class="pdfs">
            <a href="https://drive.google.com/open?id=1bEtLbreYonMe0kBoYxnBKmrNqYnDImat"><img src="/images/pdfss.png">
             <h4>Microprocessor 2</h4></a>
        </div>
        <div class="pdfs">
          <a href="https://drive.google.com/open?id=1-zqOtC_DFjgiteaNlk1RN73dYT2W1z11"><img src="/images/pdfss.png">
           <h4>Power System</h4></a>
      </div>
</div>